# Text2sql  Evaluate Finetune v1 with Execution Accurrcy

In [1]:
!pip install -q -U torch auto-gptq transformers optimum
!pip install -q -U peft trl einops accelerate xformers bitsandbytes

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 485.4/485.4 kB 8.9 MB/s eta 0:00:00a 0:00:01
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.0/44.0 kB 3.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 766.7/766.7 MB 2.0 MB/s eta 0:00:000:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 363.4/363.4 MB 2.3 MB/s eta 0:00:000:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.8/13.8 MB 87.5 MB/s eta 0:00:00:00:010:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.6/24.6 MB 64.0 MB/s eta 0:00:00:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 883.7/883.7 kB 45.2 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 664.8/664.8 MB 1.9 MB/s eta 0:00:000:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 211.5/211.5 MB 2.1 MB/s eta 0:00:000:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.3/56.3 MB 30.1 MB/s eta 0:00:00:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 127.9/127.9 MB 13.1 MB/s eta 0:00:00:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 207.5/207.5 MB 7.7 MB/s eta 0:00:000:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.1/150.1 MB 11.2 MB/s eta 0:00:00:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 188.7/188.7 MB 8.9 MB/s eta 0:00:000:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.1/21.1 MB 70.8 MB/s eta 0:00:00:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.1/99.1 kB 6.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 253.1/253.1 MB 6.6 MB/s eta 0:00:000:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 55.0 MB/s eta 0:00:00:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.0/10.0 MB 100.7 MB/s eta 0:00:0000:010:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 433.6/433.6 kB 28.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.2/13.2 MB 75.5 MB/s eta 0:00:00:00:010:01
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
fastai 2.7.18 requires torch<2.6,>=1.10, but you have torch 2.6.0 which is incompatible.
pylibcugraph-cu12 24.10.0 requires pylibraft-cu12==24.10.*, but you have pylibraft-cu12 25.2.0 which is incompatible.
pylibcugraph-cu12 24.10.0 requires rmm-cu12==24.10.*, but you have rmm-cu12 25.2.0 which is incompatible.
torchaudio 2.5.1+cu121 requires torch==2.5.1, but you have torch 2.6.0 which is incompatible.
torchvision 0.20.1+cu121 requires torch==2.5.1, but you have torch 2.6.0 which is incompatible.
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 318.9/318.9 kB 6.7 MB/s eta 0:00:0000:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.4/64.4 kB 4.7 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 342.1/342.1 kB 23.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.3/43.3 MB 38.3 MB/s eta 0:00:00:00:0100:01
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.7/69.7 MB 23.5 MB/s eta 0:00:00:00:010:01m

In [2]:
! pip install torchvision==0.20.1 torch==2.5.1 torchaudio==2.5.1

Requirement already satisfied: torchvision==0.20.1 in /usr/local/lib/python3.10/dist-packages (0.20.1+cu121)
Collecting torch==2.5.1
  Downloading torch-2.5.1-cp310-cp310-manylinux1_x86_64.whl.metadata (28 kB)
Requirement already satisfied: torchaudio==2.5.1 in /usr/local/lib/python3.10/dist-packages (2.5.1+cu121)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from torchvision==0.20.1) (1.26.4)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.10/dist-packages (from torchvision==0.20.1) (11.0.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (3.17.0)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (4.12.2)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (3.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (3.1.4)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (2024.12.0)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.4.127 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (12.4.127)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.4.127 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (12.4.127)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.4.127 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (12.4.127)
Requirement already satisfied: nvidia-cudnn-cu12==9.1.0.70 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (9.1.0.70)
Requirement already satisfied: nvidia-cublas-cu12==12.4.5.8 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (12.4.5.8)
Requirement already satisfied: nvidia-cufft-cu12==11.2.1.3 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (11.2.1.3)
Requirement already satisfied: nvidia-curand-cu12==10.3.5.147 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (10.3.5.147)
Requirement already satisfied: nvidia-cusolver-cu12==11.6.1.9 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (11.6.1.9)
Requirement already satisfied: nvidia-cusparse-cu12==12.3.1.170 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (12.3.1.170)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (2.21.5)
Requirement already satisfied: nvidia-nvtx-cu12==12.4.127 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (12.4.127)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.4.127 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (12.4.127)
Collecting triton==3.1.0 (from torch==2.5.1)
  Downloading triton-3.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.3 kB)
Requirement already satisfied: sympy==1.13.1 in /usr/local/lib/python3.10/dist-packages (from torch==2.5.1) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from sympy==1.13.1->torch==2.5.1) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch==2.5.1) (3.0.2)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.10/dist-packages (from numpy->torchvision==0.20.1) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.10/dist-packages (from numpy->torchvision==0.20.1) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.10/dist-packages (from numpy->torchvision==0.20.1) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.10/dist-packages (from numpy->torchvision==0.20.1) (2025.0.1)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.10/dist-packages (from numpy->torchvision==0.20.1) (2022.0.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.10/dist-packages (from numpy->torchvision==0.20.1) (2.4.1)
Requirement already satisfied: intel-openmp>=2024 in /usr/local/lib/python3.10/dist-packages (from mkl->numpy->torchvision==0.20.1) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.10/dist-packages (from mkl->numpy->torchvision==0.20.1) (2022.0.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.10/dist-packages (from tbb==2022.*->mkl->numpy->torchvision==0.20.1) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.10/dist-packages (from mkl_umath->numpy->torchvision==0.20.1) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.10/dist-packages (from intel-openmp>=2024->mkl->numpy->torchvision==0.20.1) (2024.2.0)
Downloading torch-2.5.1-cp310-cp310-manylinux1_x86_64.whl (906.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 906.4/906.4 MB 1.3 MB/s eta 0:00:000:00:0100:01
Downloading triton-3.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (209.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 209.5/209.5 MB 2.1 MB/s eta 0:00:000:00:0100:01
Installing collected packages: triton, torch
  Attempting uninstall: triton
    Found existing installation: triton 3.2.0
    Uninstalling triton-3.2.0:
      Successfully uninstalled triton-3.2.0
  Attempting uninstall: torch
    Found existing installation: torch 2.6.0
    Uninstalling torch-2.6.0:
      Successfully uninstalled torch-2.6.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
xformers 0.0.29.post3 requires torch==2.6.0, but you have torch 2.5.1 which is incompatible.
Successfully installed torch-2.5.1 triton-3.1.0

In [3]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM
import re
import json
import sqlite3
import sqlparse
import os
from peft import prepare_model_for_kbit_training, LoraConfig, get_peft_model, AutoPeftModelForCausalLM
from transformers import GPTQConfig, Trainer, TrainingArguments, DataCollatorForLanguageModeling
from trl import SFTTrainer
from time import perf_counter
from rich import print

In [4]:
torch.cuda.is_available()

True

In [5]:
available_memory = torch.cuda.get_device_properties(0).total_memory
available_memory

15828320256

# Load our model from Huggingface and it's Tokenizer

In [ ]:
model_name = "khalifa1/Text2sql_LLama2_7b_Finetuned"
tokenizer = AutoTokenizer.from_pretrained(model_name)
tokenizer.pad_token = tokenizer.eos_token
tokenizer.padding_side = "right"
if available_memory > 15e9:
    # if you have atleast 15GB of GPU memory, run load the model in float16
    model = AutoModelForCausalLM.from_pretrained(
        model_name,
        trust_remote_code=True,
        torch_dtype=torch.float16,
        device_map="auto",
        use_cache=True,
    )
else:
    # else, load in 4 bits – this is slower and less accurate
    model = AutoModelForCausalLM.from_pretrained(
        model_name,
        trust_remote_code=True,
        # torch_dtype=torch.float16,
        load_in_4bit=True,
        device_map="auto",
        use_cache=True,
    )

## Load Spider dataset and it's database

In [8]:
spider_db_path = "/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/database"
spider_eval_path = "/kaggle/input/yale-universitys-spider-10-nlp-dataset/spider/train_others.json"

with open(spider_eval_path, "r") as f:
    data = json.load(f)
data[0]

{'db_id': 'geo',
 'query': 'SELECT city_name FROM city WHERE population  =  ( SELECT MAX ( population ) FROM city WHERE state_name  =  "wyoming" ) AND state_name  =  "wyoming";',
 'query_toks': ['SELECT',
  'city_name',
  'FROM',
  'city',
  'WHERE',
  'population',
  '=',
  '(',
  'SELECT',
  'MAX',
  '(',
  'population',
  ')',
  'FROM',
  'city',
  'WHERE',
  'state_name',
  '=',
  '``',
  'wyoming',
  "''",
  ')',
  'AND',
  'state_name',
  '=',
  '``',
  'wyoming',
  "''",
  ';'],
 'query_toks_no_value': ['select',
  'city_name',
  'from',
  'city',
  'where',
  'population',
  '=',
  '(',
  'select',
  'max',
  '(',
  'population',
  ')',
  'from',
  'city',
  'where',
  'state_name',
  '=',
  'value',
  ')',
  'and',
  'state_name',
  '=',
  'value'],
 'question': 'what is the biggest city in wyoming',
 'question_toks': ['what', 'is', 'the', 'biggest', 'city', 'in', 'wyoming'],
 'sql': {'except': None,
  'from': {'conds': [], 'table_units': [['table_unit', 1]]},
  'groupBy': [],
  'having': [],
  'intersect': None,
  'limit': None,
  'orderBy': [],
  'select': [False, [[0, [0, [0, 7, False], None]]]],
  'union': None,
  'where': [[False,
    2,
    [0, [0, 8, False], None],
    {'except': None,
     'from': {'conds': [], 'table_units': [['table_unit', 1]]},
     'groupBy': [],
     'having': [],
     'intersect': None,
     'limit': None,
     'orderBy': [],
     'select': [False, [[1, [0, [0, 8, False], None]]]],
     'union': None,
     'where': [[False, 2, [0, [0, 10, False], None], '"wyoming"', None]]},
    None],
   'and',
   [False, 2, [0, [0, 10, False], None], '"wyoming"', None]]}}

##  Database connection setup

In [9]:
def get_conn(db_id: str):
    db_file = f"{db_id}.sqlite"
    db_path = os.path.join(spider_db_path, db_id, db_file)
    conn = sqlite3.connect(db_path)
    return conn

def get_db_schema(conn) -> str:
    res = conn.execute("SELECT * FROM sqlite_master").fetchall()
    schema = ""
    for d in res:
        if d[-1] is None:
            continue    
        schema += f"{d[-1]}\n\n"
    return schema

## inference function generate the Query from ques and Schema

In [15]:
def inference(question: str, schema: str) -> str:
    prompt = """### Instruction:
    You are a powerful text-to-SQL model. \
    Your job is to answer questions about a sqlite database. 
    Adhere to these rules:
    - **Deliberately analyze the question and schema**
    - **Use Table Aliases** to prevent ambiguity
    - **Cast numerators as float for ratios**
    - **Use only one column per query**
    You are given a question and context regarding one or more tables.

    You must output the SQL query that bestanswers the question.

    ### Input:
    {question}
    ### Context:
    {schema}
    ### Response:
    ```sql 
    """.format(question=question, schema=schema)


    inputs = tokenizer(prompt, return_tensors="pt").to("cuda")
    generated_ids = model.generate(
        **inputs,
        num_return_sequences=1,
        eos_token_id=tokenizer.eos_token_id,
        pad_token_id=tokenizer.eos_token_id,
        max_new_tokens=180,
        do_sample=False,
    )
    outputs = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)
    
    # Post-processing
    postgres_query = outputs[0].split("```sql")[-1].rstrip("```")
    return postgres_to_sqlite(postgres_query)

def postgres_to_sqlite(query: str) -> str:
    substitutions = [
        (r'ilike', 'LIKE'),
        (r'serial\s*$', 'INTEGER PRIMARY KEY AUTOINCREMENT'),
        (r'start\s+with\s+(\d+)', 'CHECK (id >= \\1)'),
    ]
    for pattern, replacement in substitutions:
        query = re.sub(pattern, replacement, query, flags=re.IGNORECASE)
    return query

## Evaluation script

In [11]:
def compare_sql(gold: str, gen: str, conn, is_ordered=False):
    try:
        gold_res = pd.read_sql(gold, conn)
    except Exception as _:
        return 1

    try:
        gen_res = pd.read_sql(gen, conn)
    except Exception as _:
        print("[Gen Fail]", gen)
        return 0

    accuracy = 0
    if (len(gold_res)) == 0:
        return 1 if len(gen_res) == 0 else 0
    
    gold_len = len(gold_res)
    gen_len = len(gen_res)
    for i in range(min(gold_len, gen_len)):
        gold_record = gold_res.values[i]
        
        if not is_ordered:
            try:
                is_match = gold_record in gen_res.values
            except:
                is_match = False
        else:
            is_match = gold_record == gen_res.values[i]
            if (type(is_match) != bool):
                is_match = is_match.all()
                
        if is_match:
            accuracy += 1

    return accuracy / len(gold_res)

##  Main Evaluation loop

In [ ]:
NUM_EVAL =100
total_accuracy = 0

for i, h in enumerate(data[:NUM_EVAL]):
    db_id = h['db_id']
    conn = get_conn(db_id)
    schema = get_db_schema(conn)
    question = h['question']
    gen = inference(question, schema)
    gold = h['query']
    
    sub_accuracy = compare_sql(gold, gen, conn)
    total_accuracy += sub_accuracy

    
    print(f"[{i}] ")
    print(f"Question: {question}")
    print(f"Gold SQL: {sqlparse.format(gold, reident=True)}")

final_accuracy = total_accuracy / NUM_EVAL
print(f"Final Execution Accuracy: {final_accuracy * 100:.2f}%")

[0]

Question: where is the ohio river

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[1]

Question: which states does the ohio river run through

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[2]

Question: which states does the ohio run through

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[3]

Question: which states does the ohio river pass through

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[4]

Question: what are the states that the ohio run through

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[5]

Question: which state has the ohio river

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[6]

Question: what states have rivers named ohio

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[7]

Question: through which states does the ohio flow

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[8]

Question: what states are next to the ohio

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[9]

Question: through which states does the ohio run

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[10]

Question: what states does the ohio river go through

Gold SQL: SELECT traverse FROM river WHERE river_name  =  "ohio";

[11]

Question: what state has the largest population

Gold SQL: SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state );

[12]

Question: what is the most populous state

Gold SQL: SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state );

[13]

Question: what state is the largest in population

Gold SQL: SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state );

[14]

Question: which state has the biggest population

Gold SQL: SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state );

[15]

Question: which state has the greatest population

Gold SQL: SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state );

[16]

Question: which state has the most population

Gold SQL: SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state );

[17]

Question: what state has the most people

Gold SQL: SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state );

[18]

Question: which state has the most people

Gold SQL: SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state );

[19]

Question: what is the most populous state in the us

Gold SQL: SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state );

[20]

Question: what state has the highest population

Gold SQL: SELECT state_name FROM state WHERE population  =  ( SELECT MAX ( population ) FROM state );

[21]

Question: what is the lowest elevation in pennsylvania

Gold SQL: SELECT lowest_elevation FROM highlow WHERE state_name  =  "pennsylvania";

[22]

Question: what is the highest point in each state whose lowest point is sea level

Gold SQL: SELECT highest_point  ,  state_name FROM highlow WHERE lowest_elevation  =  0;

[23]

Question: what is the length of the longest river in the usa

Gold SQL: SELECT LENGTH FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river );

[24]

Question: how long is the longest river in the usa

Gold SQL: SELECT LENGTH FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river );

[25]

Question: what is the longest river flowing through texas

Gold SQL: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river WHERE traverse  =
"texas" ) AND traverse  =  "texas";

[26]

Question: what is the largest river in texas state

Gold SQL: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river WHERE traverse  =
"texas" ) AND traverse  =  "texas";

[27]

Question: what is the longest river in texas

Gold SQL: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river WHERE traverse  =
"texas" ) AND traverse  =  "texas";

[28]

Question: what is the biggest river in texas

Gold SQL: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river WHERE traverse  =
"texas" ) AND traverse  =  "texas";

[29]

Question: what is the longest river that flows through texas

Gold SQL: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river WHERE traverse  =
"texas" ) AND traverse  =  "texas";

[30]

Question: what are the biggest rivers in texas

Gold SQL: SELECT river_name FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river WHERE traverse  =
"texas" ) AND traverse  =  "texas";

[31]

Question: how many rivers are in idaho

Gold SQL: SELECT COUNT ( river_name ) FROM river WHERE traverse  =  "idaho";

[32]

Question: give me the number of rivers in idaho

Gold SQL: SELECT COUNT ( river_name ) FROM river WHERE traverse  =  "idaho";

[33]

Question: how many rivers does idaho have

Gold SQL: SELECT COUNT ( river_name ) FROM river WHERE traverse  =  "idaho";

[34]

Question: how many rivers are there in idaho

Gold SQL: SELECT COUNT ( river_name ) FROM river WHERE traverse  =  "idaho";

[35]

Question: how many rivers run through idaho

Gold SQL: SELECT COUNT ( river_name ) FROM river WHERE traverse  =  "idaho";

[36]

Question: how many rivers are found in idaho

Gold SQL: SELECT COUNT ( river_name ) FROM river WHERE traverse  =  "idaho";

[37]

Question: how many rivers in idaho

Gold SQL: SELECT COUNT ( river_name ) FROM river WHERE traverse  =  "idaho";

[38]

Question: what states neighbor kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[39]

Question: which states border kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[40]

Question: what states border kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[41]

Question: give me the states that border kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[42]

Question: what state borders kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[43]

Question: what states are next to kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[44]

Question: what states surround kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[45]

Question: which state borders kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[46]

Question: what are the neighboring states for kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[47]

Question: which states adjoin kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[48]

Question: states bordering kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[49]

Question: which state border kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[50]

Question: what is the adjacent state of kentucky

Gold SQL: SELECT border FROM border_info WHERE state_name  =  "kentucky";

[51]

Question: name all the rivers in illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[52]

Question: rivers in illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[53]

Question: what are all the rivers in illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[54]

Question: what are the rivers in illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[55]

Question: what rivers are in illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[56]

Question: what rivers are there in illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[57]

Question: what rivers run through illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[58]

Question: what rivers flow through illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[59]

Question: what river flows through illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[60]

Question: what are the rivers in the state of illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[61]

Question: name the rivers in illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[62]

Question: what are the rivers of illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[63]

Question: which rivers are in illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[64]

Question: which rivers flow through illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[65]

Question: what is the river that cross over illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[66]

Question: what river runs through illinois

Gold SQL: SELECT river_name FROM river WHERE traverse  =  "illinois";

[67]

Question: what state is springfield in

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[68]

Question: where is springfield

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[69]

Question: springfield is in what state

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[70]

Question: what states have cities named springfield

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[71]

Question: which states have cities named springfield

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[72]

Question: which state is springfield in

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[73]

Question: what states have a city named springfield

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[74]

Question: what state has the city springfield

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[75]

Question: what states have towns named springfield

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[76]

Question: what state is springfield located in

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[77]

Question: in which state is springfield

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[78]

Question: which state is the city springfield located in

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[79]

Question: what states in the united states have a city of springfield

Gold SQL: SELECT state_name FROM city WHERE city_name  =  "springfield";

[80]

Question: what is the population of the state with the largest area

Gold SQL: SELECT population FROM state WHERE area  =  ( SELECT MAX ( area ) FROM state );

[81]

Question: what is the population of the largest state

Gold SQL: SELECT population FROM state WHERE area  =  ( SELECT MAX ( area ) FROM state );

[82]

Question: how many people live in boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[83]

Question: what is the population of boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[84]

Question: how many people lived in boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[85]

Question: number of people in boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[86]

Question: what is the population of boulder city

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[87]

Question: how big is the city of boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[88]

Question: population of boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[89]

Question: what is the population in boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[90]

Question: people in boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[91]

Question: how many people in boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[92]

Question: how many inhabitants does boulder have

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[93]

Question: number of citizens in boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[94]

Question: how many citizens in boulder

Gold SQL: SELECT population FROM city WHERE city_name  =  "boulder";

[95]

Question: what is the smallest city in alaska

Gold SQL: SELECT city_name FROM city WHERE population  =  ( SELECT MIN ( population ) FROM city WHERE state_name  =
"alaska" ) AND state_name  =  "alaska";

[96]

Question: which states lie on the largest river in the united states

Gold SQL: SELECT traverse FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river );

[97]

Question: which states does the longest river run through

Gold SQL: SELECT traverse FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river );

[98]

Question: which state has the longest river

Gold SQL: SELECT traverse FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river );

[99]

Question: what are the states through which the longest river runs

Gold SQL: SELECT traverse FROM river WHERE LENGTH  =  ( SELECT MAX ( LENGTH ) FROM river );

Final Execution Accuracy: 66.67%